@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


:root
{
  --dark: #0c070d;
  --cool:  #41424c;
  --lightbrown: #e0d7bf;
  --lightgray: #e8e8e8;
  --darkcool: #2e2e35;
  --green: #008e0e;
  --red: #950909;
  --userTwo: #003eb9;
  --transition: all 0.3s ease-in-out;
}


body{
  /* background: rgba(125, 125, 146, 0.692); */
  background: linear-gradient(176deg, rgba(221,220,220,1) 0%, rgba(171,171,171,1) 35%, rgba(147,147,147,1) 100%);
}

.appContainer{
  font-family: 'Lato', sans-serif;
  letter-spacing: .6px;
  border-radius: 10px;
}




@media all and (min-width: 660px){
  /*Tablets [601px -> 1200px]*/
  .appContainer{
    margin: 20px 10%;
  }
}