#scrollWindow{
  width:240px;
  height:150px;
  line-height:10px;
  overflow-y:scroll;
  padding:30px;
  border: solid var(--cool);
  background-color: rgb(251, 251, 251);
}


#scrollWindowLivePublicChatRoom{
  width:240px;
  height:150px;
  line-height:10px;
  overflow-y:scroll;
  padding:30px;
  border: solid var(--cool);
  background-color: rgb(251, 251, 251);

}

textarea{
  resize:none;
}


.chatGrid{
  display: grid;
  grid-template-columns: .5fr 1fr;
  grid-template-rows: .1fr 1fr;
  grid-template-areas: 
    "header header"
    "chat chat" ;
}

.chatContainer{
  /* border: solid pink; */
  grid-area: chat;
  display: flex;
  justify-content: center;
  
}

.chatContainerSection{
  border: solid 1px #ffffff;
  border-radius: 10px;
  background-color: #e0e0e0;
  margin: 10px;
  box-shadow: 2px 2px 5px #5a5a5a;
  padding-bottom: 10px;
  padding: 0 3%;
}

.publicUsersTextChat{
  line-height: 120%;
  font-weight: bold;
}

#publicUserTextSpan{
 color: rgb(142, 121, 0);
 font-weight: bold;
}

.currentUserTextChat{
 line-height: 120%;
 font-weight: bold;
}

.currentUserTextChatLink{
  text-decoration: none;
  color: var(--dark);
}

#currentUserTextSpan{
 color: var(--green);
 font-weight: bold;
}


.userTwoTextChat{
  line-height: 120%;
  font-weight: bold;
}


#userTwoTextSpan{
  color:var(--userTwo);
  font-weight: bold;
}


.textDate{
  font-size: 10px;
  margin-bottom: 0;
  margin-left: 1%;
  
}

.textMargin{

  margin-top: 0;
}


.textForm{
  margin: 20px auto;
}

.backLink{
  text-decoration: none;
}

.backLinkText{
  color:var(--dark);
  font-size: 20px;
}

