#scrollWindow{
  width:240px;
  height:150px;
  line-height:10px;
  overflow-y:scroll;
  padding:30px;
  border: solid green;
}


#scrollWindowLivePublicChatRoom{
  width:240px;
  height:150px;
  line-height:10px;
  overflow-y:scroll;
  padding:30px;
  border: solid yellow;

}

textarea{
  resize:none;
}


.chatGrid{
  display: grid;
  grid-template-columns: .5fr 1fr;
  grid-template-rows: .1fr 1fr;
  grid-template-areas: 
    "header header"
    "chat chat" ;
}

.chatContainer{
  border: solid pink;
  grid-area: chat;
  display: flex;
  justify-content: center;
  
}


.publicUsersTextChat{
  line-height: 120%;
}

#publicUserTextSpan{
 color: rgb(142, 121, 0);
}

.currentUserTextChat{
 line-height: 120%;

}

.currentUserTextChatLink{
  text-decoration: none;
  color: black;
}

#currentUserTextSpan{
 color: var(--green);
}


.userTwoTextChat{
  line-height: 120%;
}


#userTwoTextSpan{
  color: rgb(0, 85, 255);
}


.textDate{
  font-size: 12px;
  margin-top: 0;
  margin-left: 1%;
  
}

.textMargin{

  margin-bottom: 0;
}