#scrollWindow{
  width:240px;
  height:150px;
  line-height:10px;
  overflow-y:scroll;
  padding:30px;
  border: solid green;
}


#scrollWindowLivePublicChatRoom{
  width:240px;
  height:150px;
  line-height:10px;
  overflow-y:scroll;
  padding:30px;
  border: solid yellow;

}

textarea{
  resize:none;
}


.chatGrid{
  display: grid;
  grid-template-columns: .5fr 1fr;
  grid-template-rows: .1fr 1fr;
  grid-template-areas: 
    "header header"
    "rooms chat" ;
}

.chatContainer{
  border: solid pink;
  grid-area: chat;
}

