.headerContainer{
grid-area: header;
/* border: solid blue; */
}

.userStatus{

padding-right: 6%;
}

.offline {
  color: var(--red);
  font-size: 20px;
  padding-left: 7%;
  margin-top: 30px;
  width: 100px;
  font-weight: bold;
}

.loggedInUserTagLink{

  text-decoration: none;

}

.loggedInUserTag{
  color: var(--green);
  font-size: 20px;
  padding-left: 7%;
  width:100%;
  margin-top: 30px;
  font-weight: bold;
  /* border: solid red; */
}

.signButtonsDiv{
  display: flex;
  justify-content: space-between;
  /* border: solid gray;  */

}

.milliesMessenger{
margin: 12px 0 0 8px;
}

.milliesContainer{
/* border: solid gold;  */
display: flex;
justify-content: space-between;
}

.milliesPhoto{
  height:80px;
  width:80px;
  border-radius: 100%;
  margin: 2px 15px;
  box-shadow: 1px 1px 2px #333333;
}

.headerSpaceRight{
  margin: 0 70px;
}

