

.homeGrid{
  display: grid;
  grid-template-columns: .5fr 1fr;
  grid-template-rows: .1fr 1fr;
  grid-template-areas: 
    "header header"
    "rooms home" ;
  

}

.homeComponent{
  border: solid 1px #ffffff;
  border-radius: 10px;
  background-color: #e0e0e0;
  box-shadow: 2px 2px 5px #5a5a5a;
  margin: 10px;
  grid-area: home;
  padding: 0 3% 3% 3%;
}

.homeHeader{
font-size: 22px;
padding-left: 1%;
}

.homeBody{
font-size: 18px;
padding: 1%;
}

.milSign{
  display: flex;
  justify-content: end;
  padding-right: 3%;
}