.loginContainer{
  border: solid var(--cool);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.authLink{
  text-decoration: none;
}

.authText{
  color: var(--dark);
}

.authForm{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.milliesAuth{
  margin: 100px 10px 0 10px;
  font-size: 40px;
}