.roomsUsersContainer{
  border: solid red;
  min-width: 120px;
  height:300px;
  line-height:10px;
  overflow-y:scroll;
}

.roomComponent{
  border: solid purple;
}


.roomLabels{
  padding-left: 3%;
  border: solid burlywood;
  font-size: 18px;
}


.livePublicChat{
  text-decoration: none;
  padding-left: 3%;
  color: black;

}


.livePublicChatLink{
  text-decoration: none;
}

.roomLabelsUsers{
  color:black;
  font-size: 17px;
  padding-left: 15%;
}