.roomsUsersContainer{
  /* border: solid var(--cool);  */
  min-width: 120px;
  height:300px;
  line-height:10px;
  overflow-y:scroll;

}

.roomComponent{
  border: solid 1px #ffffff;
  border-radius: 10px;
  background-color: #e0e0e0;
  margin: 10px;
  box-shadow: 2px 2px 5px #5a5a5a;
  padding-bottom: 10px;
}


.roomLabels{
  padding-left: 3%;
  /* border: solid burlywood; */
  font-size: 18px;
}


.livePublicChat{
  text-decoration: none;
  padding-left: 15%;
  color: var(--dark);
  transition: var(--transition);
}

.livePublicChat:hover{
  color: var(--milblue)
}


.livePublicChatLink{
  text-decoration: none;
}

.roomLabelsUsers{
  color: var(--dark);
  font-size: 18px;
  padding-left: 15%;
  transition: var(--transition);
}


.roomLabelsUsers:hover{
  color: var(--milblue)
}