

.showGrid{
  display: grid;
  grid-template-columns: .5fr 1fr;
  grid-template-rows: .1fr 1fr;
  grid-template-areas: 
    "header header"
    "showComp showComp" ;
}

.showComponent{
  border: solid orange;
  grid-area: showComp;
  display: flex;
  justify-content: center;
  }
  